<div class="col-md-3">
    <h2>Demo</h2>
    <ul>
        <li><a href="~/Demo/shipping/index.html">shipping</a></li>
        <li><a href="~/Demo/patagonia/index.html">patagonia</a></li>
        <li><a href="~/Demo/Swipedemo/demos/030-pagination.html">slide</a></li>
        <li><a href="~/Demo/WeChat/全部课程.html">全部课程</a></li>
        <li><a href="~/Demo/WeChat/Student.htm">微信主页</a></li>
    </ul>
</div>